.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-item-number-wrap {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.30433;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
  @media screen and (min-width: 1440px) {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.3;
  }
  &.exp {
    @media screen and (min-width: 1440px) {
      display: none;
    }
  }
}

.gallery-arrow-wrap {
  margin-bottom: 15px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 28px;
  }
  &.exp {
    @media screen and (min-width: 1440px) {
      display: none;
    }
  }
}

.gallery-left-arrow {
  margin-right: 12px;
  &:hover .gallery-button-icon-wrap,
  &:focus .gallery-button-icon-wrap {
    background-color: var(--accent-color);
    border-color: transparent;
  }
  &:hover .gallery-button-icon,
  &:focus .gallery-button-icon {
    fill: var(--light-color);
  }
}
.gallery-right-arrow {
  &:hover .gallery-button-icon-wrap,
  &:focus .gallery-button-icon-wrap {
    background-color: var(--accent-color);
    border-color: transparent;
  }
  &:hover .gallery-button-icon,
  &:focus .gallery-button-icon {
    fill: var(--light-color);
  }
}

.gallery-button-icon-wrap {
  width: 32px;
  height: 32px;
  border: 1px solid var(--text-color);
  border-radius: 100%;
  /* stroke-width: 1px;
  stroke: var(--text-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 15px; */
  pointer-events: none;
  background-color: transparent;
  @media screen and (min-width: 1440px) {
    width: 64px;
    height: 64px;
  }
}

.gallery-button-icon {
  @media screen and (min-width: 1440px) {
    width: 15px;
    height: 23px;
  }
}

.experiense-gallery-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;

  &.exp {
    @media screen and (min-width: 1440px) {
    overflow: visible;
    }
  }
}

.experience-gallery-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 15px;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  /* transform: translateX(-100%); */
  transition: transform 0.5s ease-in-out;

  &.exp {
    @media screen and (min-width: 1440px) {
      flex-wrap: wrap;
      row-gap: 55px;
      column-gap: 24px;
    }
  }
}

.experience-gallery-item {
  min-width: 100%;
  max-height: 440px;
  /* flex-basis: calc(100% - 20px); */
  /* width: 100%;
  height: 100%; */
  border-radius: 8px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 0.3s ease-in;
  /* pointer-events: none; */
  &.exp {
    @media screen and (min-width: 1440px) {
      flex-basis: calc((100% - 72px) / 4);
      min-width: 0;
      border-radius: 20px;
    }
  }
  &.exp:hover,
  &.exp:focus {
    @media screen and (min-width: 1440px) {
      transform: scale(1.1);
    }
  }
}

.experience-gallery-img {
  width: 100%;
}

.simple-lightbox {
  background-color: rgb(42,61,94, 0.8);
}
