.footer-section {
  background-color: var(--text-color);
  padding-bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 357px;
    align-items: flex-start;
  }
}

.contact-wrap {
}
.contact-wrap h3 {
  @media screen and (min-width: 1440px) {
    font-weight: 600;
    font-size: 39px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

.footer-quote-wrap {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    padding: 40px 37px;
    border-radius: 20px;
  }
}

.footer-address {
  margin-bottom: 65px;
}

.contact-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

.contact-icon-wrap {
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  @media screen and (min-width: 1440px) {
    width: 65px;
    height: 65px;
  }
}

.contact-button-icon {
  fill: var(--light-color);
  @media screen and (min-width: 1440px) {
    width: 24px;
    height: 24px;
  }
}

.contact-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.30433;
  text-align: center;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1440px) {
    font-size: 15px;
  }
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-link:hover .contact-icon-wrap,
.contact-link:focus .contact-icon-wrap {
  background-color: var(--light-color);
}

.contact-link:hover .contact-button-icon,
.contact-link:focus .contact-button-icon {
  fill: var(--accent-color);
}

.footer-logo-link {
  margin-bottom: 20px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 120px;
  }
  & .icon-logo {
    @media screen and (min-width: 1440px) {
      width: 177px;
      height: 56px;
    }
  }
  &:hover .icon-logo,
  &:focus .icon-logo {
    @media screen and (min-width: 1440px) {
      fill: var(--text-color);
    }
  }
}

.icon-logo .svg-footer {
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.icon-logo .svg-footer-desk {
  @media screen and (max-width: 1339px) {
    display: none;
  }
}

.footer-first-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.30433;
  text-align: center;
  color: var(--light-color);
  margin-bottom: 5px;
  @media screen and (min-width: 1440px) {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}

.footer-second-desc {
  font-weight: 400;
  font-size: 7px;
  line-height: 1.30433;
  text-align: center;
  color: var(--light-color);
  margin-bottom: 25px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.footer-button {
  /* margin-bottom: 65px; */
}

.privacy-wrap {
  padding: 20px 0;
  border-top: 1px solid var(--light-color);
}

.privacy-text {
  font-weight: 400;
  font-size: 7px;
  line-height: 1.30433;
  text-align: center;
  color: var(--light-color);
  @media screen and (min-width: 1440px) {
    font-size: 15px;
  }
}

.privacy-text a {
  display: inline;
  color: inherit;
  text-decoration: underline;
}

.privacy-text a:first-child {
  text-decoration: underline;
}
