.header-section {
  padding: 12px 0;
  @media screen and (min-width: 1200px) {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header-container {
}

.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 32px;
  @media screen and (min-width: 1200px) {
    height: auto;
  }
}
.header-nav-logo {
  margin-right: auto;
}

.icon-logo {
  width: 100%;
  height: 100%;
  display: block;
  &.mob {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &.desc {
    fill: var(--light-color);
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}
.mob-menu-button {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 989;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu-button.close {
  position: fixed;
  /* border-radius: 50%;
  border: 1px solid var(--text-color); */
}

.mob-menu-button::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 2px;
  display: block;
  margin-bottom: 4px;
}
.menu-burger-line {
  width: 20px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 2px;
  display: block;
  margin-bottom: 4px;
}

.mob-menu-button::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 2px;
  display: block;
}

.mob-menu-button.close .menu-burger-line {
  display: none;
}

.mob-menu-button.close::before {
  transform: rotate(45deg) translateY(160%);
}
.mob-menu-button.close::after {
  transform: rotate(-45deg) translateY(-160%);
}

.menu-desc-wrap {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.menu-desc-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 12px 70px;
  border: 1px solid rgba(42, 61, 94, 0.08);
  border-radius: 500px;
  background: rgba(255, 255, 255, 0.15);
}
.menu-desc-item {
}
.menu-desc-link {
  color: var(--light-color);
  padding: 19px 20px;
  border-radius: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.30433;
  &:hover {
    background: linear-gradient(
      95deg,
      rgba(226, 226, 226, 0.25) 0%,
      rgba(198, 198, 198, 0.25) 100%
    );
  }
}

.header-desc-tel {
  min-height: 100%;
  display: block;
  margin-left: auto;
  color: var(--light-color);
  align-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.30433;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
