.hero-section {
  background-color: var(--text-color);
  background-image: linear-gradient(
      to bottom,
      rgba(42, 61, 94, 0.8),
      rgba(42, 61, 94, 0.8)
    ),
    url(/img/hero-mob-1x.jpg);
  background-position: 50% 50%;
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 126px 0 56px;
  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-mob-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding: 330px 0 90px;
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-desc@1x.jpg);
  }
  @media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-desc@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
  }
}

.hero-container h1 {
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 71px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fff 50%, rgba(217, 217, 217, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 219px;
    line-height: 1;
  }
  @media screen and (min-width: 1560px) {
    line-height: 1.3;
  }
}

.hero-second-title {
  max-width: 238px;
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    margin-bottom: 35px;
  }
}

.hero-desc {
  color: var(--light-color);
  margin-bottom: 40px;
  max-width: 145px;
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.30433;
    max-width: 306px;
    margin-bottom: 60px;
  }
}

.button-icon-arrow {
  margin-left: 5px;
}
