.hero-section {
  background-color: var(--text-color);
  background-image: linear-gradient(
      to bottom,
      rgba(42, 61, 94, 0.8),
      rgba(42, 61, 94, 0.8)
    ),
    url(/img/hero-mob@1x.webp);
  background-position: 50% 50%;
  /* background-position: top; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 126px 0 56px;
  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-mob@2x.webp);
  }

  @media screen and (min-width: 1440px) {
    padding: 230px 0 50px;
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-desk@1x.webp);
  }
  @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(42, 61, 94, 0.8),
        rgba(42, 61, 94, 0.8)
      ),
      url(/img/hero-desk@2x.webp);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1440px) {
  }
}

.hero-container h1 {
  text-align: center;
  @media screen and (min-width: 1440px) {
    margin-bottom: 50px;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 71px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #fff 50%, rgba(217, 217, 217, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2px;

  @media screen and (min-width: 1440px) {
    font-weight: 700;
    font-size: 150px;
    line-height: 1;
  }
  /* @media screen and (min-width: 1560px) {
    line-height: 1.3;
  } */
}

.hero-second-title {
  max-width: 238px;
  margin-bottom: 10px;
  @media screen and (min-width: 1440px) {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
    max-width: 352px;
    margin-bottom: 30px;
  }
}

.hero-desc {
  color: var(--light-color);
  margin-bottom: 40px;
  max-width: 145px;
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    max-width: 243px;
    margin-bottom: 45px;
  }
}

.button-icon-arrow {
  margin-left: 5px;
}
